.splash{
    background: url(src/assets/img10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    height:100vh;
    padding: 0 20px;
}
.topsection{
    height:55%;
}
.bottomsection{
    height:45%;
}
.btn{
    font-size: 15px;
    background: #17DA99;
    width: max-content;
    padding:8px 25px;
    border-radius: 18px ;
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }
.btn:hover{
    background: transparent;
    border:1px solid #17DA99;
    color: #17DA99;
}
.title{
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
}
.subtitle{
    color:rgb(208, 201, 201);
    margin: 15px 0;
}