<div class="icons">
    <div class="icon__group">
        <fa-icon class="icon" routerLink="/landing-page" [icon]="faHome"></fa-icon>
        <p class="icon__title">Home</p>
    </div>
    <div class="icon__group">
        <fa-icon class="icon" [icon]="faWifi" routerLink="/radio"></fa-icon>
        <p class="icon__title">Live</p>
    </div>
    <div class="icon__group">
        <fa-icon class="icon"  routerLink="/messages" class="" [icon]="faMessage"></fa-icon>
        <p class="icon__title">Messages</p>
    </div>
    <div class="icon__group">
        <fa-icon class="icon" [icon]="faGear"></fa-icon>
        <p class="icon__title">settings</p>
    </div>
    
    
    
</div>
