<div class="icons">
    <div class="icon__group">
        <fa-icon class="icon" [icon]="faHome"></fa-icon>
        <p class="icon__title">Home</p>
    </div>
    <div class="icon__group">
        <fa-icon class="icon" [icon]="faWifi"></fa-icon>
        <p class="icon__title">Live</p>
    </div>
    <div class="icon__group">
        <fa-icon class="icon"  routerLink="/messages" class="" [icon]="faMessage"></fa-icon>
        <p class="icon__title">Messages</p>
    </div>
    <div class="icon__group">
        <fa-icon class="icon" [icon]="faUser"></fa-icon>
        <p class="icon__title">Profile</p>
    </div>
    
    
    
</div>
