<div class="messages">
    <div class="previous__icon" routerLink="/landing-page">
        <fa-icon class="arrow__icon" [icon]="faArrow"></fa-icon>
    </div>
    <p class="text__one">Messages</p>
    <div class="message">
        <div class="left__section">
            <p class="message__title">Making Decisions for living healthy</p>
            <div class="btn" routerLink="/message">View</div>
        </div>
        <div class="right__section">
            <p class="text__three">30mins</p>
        </div>
    </div>
    <div class="message">
        <div class="left__section">
            <p class="message__title">Making Decisions for living healthy</p>
            <div class="btn" routerLink="/message">View</div>
        </div>
        <div class="right__section">
            <p class="text__three">30mins</p>
        </div>
    </div>
    <div class="message">
        <div class="left__section">
            <p class="message__title">Making Decisions for living healthy</p>
            <div class="btn" routerLink="/message" >View</div>
        </div>
        <div class="right__section">
            <p class="text__three">30mins</p>
        </div>
    </div>
    <div class="message">
        <div class="left__section">
            <p class="message__title">Making Decisions for living healthy</p>
            <div class="btn" routerLink="/message">View</div>
        </div>
        <div class="right__section">
            <p class="text__three">30mins</p>
        </div>
        
    </div>
    <div class="message">
        <div class="left__section">
            <p class="message__title">Making Decisions for living healthy</p>
            <div class="btn" routerLink="/message">View</div>
        </div>
        <div class="right__section">
            <p class="text__three">30mins</p>
        </div>
    </div>
    <div class="message">
        <div class="left__section">
            <p class="message__title">Making Decisions for living healthy</p>
            <div class="btn" routerLink="/message">View</div>
        </div>
        <div class="right__section">
            <p class="text__three">30mins</p>
        </div>
    </div>
    <app-menu-icons></app-menu-icons>
</div>
