.landing {
  background: black;
  color: white;
  padding: 0 20px 40px 20px;
  position: relative;
}
.notification__icon {
  /* background: rgb(28, 27, 27); */
  font-size: 23px;
  /* width: max-content;
    padding: 0;
    border-radius: 7px; */
}
.landing__info {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
input {
  width: 100%;
  height: 50px;
  background: rgb(28, 27, 27);
  border: none;
  border-radius: 15px;
  padding: 0 45px;
  font-size: 15px;
}
.search {
  position: relative;
  /* height: 50px;
    width:100%; */
}
.search__icon {
  position: absolute;
  left: 20px;
  bottom: 12px;
  font-size: 20px;
}
.arrow__icon {
  font-size: 18px;
}
.new__messages {
  padding: 50px 0;
}
.messages__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.now__playing__img {
  width: 100%;
  height: 250px;
  border-radius: 30px;
  background-image: url("src/assets/img5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.now__playing__img::before{
  content:'';
  position: absolute;
  width:100%;
  height:100%;
  background: linear-gradient(90.34deg, rgba(0, 0, 0, 0.8) 17.76%, rgba(255, 255, 255, 0) 144.88%);
  opacity:1;
  border-radius: 30px;

}
.now__playing__title{
  position:absolute;
  top:35px;
  left:25px;

}
.live__btn{
  position:absolute;
  bottom:15px;
  left:15px;
  border:1px solid #2667ff;
  padding:6px 15px;
  border-radius: 18px ;
  color: #2667ff;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wifi__icon{
  margin-right: 4px;
  font-size: 12px;
}
.top__messages__container {
  width: 100%;
  /* display:flex;
    justify-content: space-between; */
  align-items: center;
}
.left__section {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.left__section__img {
  width: 40%;
  height: 100%;
  border-radius: 20px;
}
.left__section__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.right__section {
  display: flex;
  justify-content: space-between;
}
.play__icon{
    transition: all 250ms ease-in-out;
    font-size: clamp(17px, 2.5vw, 19px);
}
.play__icon__two{
    transition: all 250ms ease-in-out;
    font-size: 20px;
}
.play__icon:hover{
    color:#2667ff ;
}
.play__btn{
    background:#2667ff ;
    border-radius: 50%;
    width: max-content;
    padding: 15px 20px; 
    transition: all 250 linear;
    position: absolute;
    bottom:15px;
    right:15px;
    transition: all 250ms ease-in-out;
}
.play__btn:hover{
    transform: scale(1.05);
}
@media screen and (min-width: 600px){
  
  .top__messages__container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    padding: 0 35px;
  }
}
