<div class="notifications">
    <div class="previous__icon" routerLink="/landing-page">
        <fa-icon class="arrow__icon" [icon]="faArrow"></fa-icon>
    </div>
    <p class="text__one">Notifications</p>
    <div class="notification__container">
        <div class="notification">
            <div class="left__section">
                <img src="/assets/img4.jpg" alt="">
            </div>
            <div class="right__section">
                <p class="notification__title">Emma <span class="text__three">started a live Stream</span></p>
                <p class="text__three">30mins</p>
            </div>
            
            
        </div>
        <div class="notification">
            <div class="left__section">
                <img src="/assets/img4.jpg" alt="">
            </div>
            <div class="right__section">
                <p class="notification__title">Emma <span class="text__three">started a live Stream</span></p>
                <p class="text__three">30mins</p>
            </div>
            
            
        </div>
        <div class="notification">
            <div class="left__section">
                <img src="/assets/img4.jpg" alt="">
            </div>
            <div class="right__section">
                <p class="notification__title">Emma <span class="text__three">started a live Stream</span></p>
                <p class="text__three">30mins</p>
            </div>
            
            
        </div>
        <div class="notification">
            <div class="left__section">
                <img src="/assets/img4.jpg" alt="">
            </div>
            <div class="right__section">
                <p class="notification__title">Emma <span class="text__three">started a live Stream</span></p>
                <p class="text__three">30mins</p>
            </div>
            
            
        </div>
        <div class="notification">
            <div class="left__section">
                <img src="/assets/img4.jpg" alt="">
            </div>
            <div class="right__section">
                <p class="notification__title">Emma <span class="text__three">started a live Stream</span></p>
                <p class="text__three">30mins</p>
            </div>
            
            
        </div>
        
    </div>
    
    
</div>
