<div class="message">
    <div class="previous__icon" routerLink="/landing-page">
        <fa-icon class="arrow__icon" [icon]="faArrow"></fa-icon>
    </div>
    <div class="message__image">
        <!-- <img src="/assets/img8.jpg" alt=""> -->
    </div>
    <div class="message__title">
        <p class="title text__one">The Schema Series</p>
        <p class="subtitle text__three">By Emma Idusuyi</p>
    </div>
    <div class="message__content">
        <p class="about__title">About</p>
        <p class="text__three">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere temporibus laboriosam inventore fugiat eum et quaerat error numquam aperiam, cupiditate perferendis eveniet molestias debitis ullam officiis doloribus autem blanditiis placeat praesentium distinctio! Eaque vitae quod animi repudiandae autem itaque ipsa fugiat, necessitatibus laboriosam porro qui cumque aliquid saepe ullam facere placeat maxime amet accusamus quia repellendus iusto! Corporis facilis dolorem cum earum itaque nulla facere magni corrupti sed, animi deleniti quibusdam pariatur quo minus totam quod at fugiat quaerat vitae ad nostrum placeat ipsa! Impedit in quibusdam, expedita sequi quo nulla obcaecati suscipit fuga laborum perferendis corrupti id fugiat quis!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente magnam alias animi officia aliquam, doloribus temporibus eius, voluptas blanditiis totam ipsum voluptatibus at voluptates id voluptatem commodi vel, eligendi aut? Quis aperiam, enim inventore distinctio quasi nihil vitae dolor facilis ipsum quam temporibus fuga accusamus in omnis molestiae, repellendus unde dicta ratione nobis corrupti. Ad eaque laboriosam quibusdam autem doloribus, vitae, quis velit officia fuga, explicabo accusamus ipsam tempora accusantium!
        </p>
    </div>
    <!-- <app-menu-icons></app-menu-icons> -->
</div>
